# Aula 1 - Limpeza e Tratamento dos dados

**Professores:**
- Jhonatan Ramos
- Vinícius "Mumu" Rodrigues

## 1. Contexto e motivação

## 2. Tipos de problemas em dados

In [10]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('data/clientes.csv')
df.head(5)

,id_cliente,nome,email,idade,cidade,data_cadastro,telefone
0,679,GUSTAVO SLIVA,gustavo.sliva@gmail.com,32,rio de janeiro,2023-02-16 00:00:00,(70)92664-8803
1,880,Lucas dos Mendes,lucas.dos.mendes@empresa.com.br,41,sãopualo,2022-06-21 00:00:00,0000
2,901,pedro rocha,NaN,44,Salvador,2021-07-26 00:00:00,(83)91748-8658
3,244,Diego Pinto,diego.pinto256@yahoo.com.br,32,Niteroi,2022-05-11 00:00:00,XXXXX
4,329,HELENA MOURA,helena.moura@hotmail.com,79,sãopaulo,2023-04-25 00:00:00,(50)93669-3911

In [7]:
df.shape

(1248, 7)

### 2.1. Valores faltantes

In [3]:
df['email'].isna().sum()

np.int64(111)

### 2.2. Dados inconsistentes

In [5]:
df['cidade'].value_counts()

cidade
BH                    42
POA                   34
rio de janeiro        32
bh                    32
sp                    32
                      ..
 rio de janeiro        1
  Manaus               1
  Brasília             1
  RIO DE JANEIRO       1
fotraleza              1
Name: count, Length: 373, dtype: int64

### 2.3. Tipos incorretos

In [15]:
df.dtypes

id_cliente       int64
nome               str
email              str
idade              str
cidade             str
data_cadastro      str
telefone           str
dtype: object

### 2.4. Duplicatas

In [17]:
df[df['id_cliente'].isin(df['id_cliente'].unique())].shape

(1248, 7)

### 2.5. Outliers

## 3. Técnicas de limpeza e tratamento

### 3.1. Tratando valores faltantes

### 3.2. Padronização

### 3.3. Conversão de tipos

### 3.4. Remoção de duplicatas

### 3.5. Remoção de outliers

## 4. Mão na massa