# üßπ Homework ‚Äî O qu√£o boa √© essa base? 

**Autor:** [Seu Nome]  
**Entidade:** Insper Data ‚Äî Ciclo B√°sico  
**Data:** 19 de Fevereiro de 2026

---
### ‚ö†Ô∏è Diagn√≥stico de Sobreviv√™ncia
A limpeza de dados n√£o √© um capricho est√©tico; √© a diferen√ßa entre uma an√°lise que gera lucro e uma que gera preju√≠zo. O objetivo aqui √© simples: **provar com n√∫meros o qu√£o suja a base est√° e o quanto conseguimos salv√°-la.**

Neste entreg√°vel, voc√™ deve:
1.  **Diagnosticar:** Encontrar onde a base d√≥i (missing, tipos errados, duplicatas).
2.  **Medir:** Criar um score matem√°tico de qualidade.
3.  **Limpar:** Aplicar as regras m√≠nimas de saneamento.
4.  **Comparar:** Mostrar o ganho de qualidade real atrav√©s do seu score.

In [3]:
import pandas as pd
import numpy as np
import re
from dateutil import parser
from datetime import datetime

# --- HELPERS DE CONVERS√ÉO ---

def to_float_safe(x):
    """Converte string com v√≠rgula/sujeira em float."""
    try: 
        return float(str(x).replace(',', '.'))
    except: 
        return np.nan

def to_int_safe(x):
    """Converte valores num√©ricos para int (lida com floats de sistema)."""
    try: 
        return int(float(x))
    except: 
        return np.nan

def parse_date_safe(x):
    """Parse de data inteligente (ajuda com diferentes formatos de string)."""
    try: 
        return parser.parse(str(x))
    except: 
        return pd.NaT

# --- HELPERS DE VALIDA√á√ÉO E LIMPEZA ---

def clean_string(x):
    """Padroniza√ß√£o b√°sica: remove espa√ßos e coloca em min√∫sculo."""
    if pd.isna(x): return np.nan
    return str(x).strip().lower()

def validate_email(email):
    """Valida se o formato do e-mail √© aceit√°vel via Regex."""
    if pd.isna(email): return False
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'
    return bool(re.match(pattern, str(email)))

def pct(x, total):
    """Gera string de porcentagem formatada para relat√≥rios."""
    if total == 0: return "0 (0.00%)"
    return f"{int(x)} ({100*x/total:.2f}%)"

def get_outliers_iqr(df, column):
    """Detecta outliers usando a regra do Intervalo Interquartil (IQR)."""
    series = df[column].apply(to_float_safe).dropna()
    q1 = series.quantile(0.25)
    q3 = series.quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr
    return (series < lower_bound) | (series > upper_bound)


df = pd.read_csv("data/vendas.csv", dtype=object)

---
### ü´µü´µAgora √© contigo, use os helpers e responda: Essa base √© boa para se usar? Quais m√©tricas s√£o interessantes?
---

In [4]:
df.head(5)

,id_venda,id_cliente,data_venda,categoria,valor_venda,quantidade,desconto,devolvido,pago,forma_pagamento,cidade_entrega,obs
0,6384,452.0,2024-08-11 00:00:00,Alimentos,25.8,3.0,0.0,False,False,NaN,CTBA,telefone inv√°lido
1,4167,188.0,2024-08-09 00:00:00,Inform√°tica,1625.53,2.0,0.15,False,True,boleto,SLAVADOR,NaN
2,2077,277.0,2023-08-13 00:00:00,Escrit√≥rio,232.46,2.0,0.0,False,True,cartao,SAO PAULO CENTRO,NaN
3,4568,964.0,2024-04-20 00:00:00,Eletr√¥nicos,898.51,1.0,0.0,False,True,pix,RJ,telefone inv√°lido
4,3796,551.0,2024-05-30 00:00:00,Escrit√≥rio,146.13,1.0,0.0,False,True,pix,s√£o paulo,NaN